.create-quizz {
    text-align: center;
}

.basic-info h2 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-top: 37px;
}

.questions {
    width: 100vw;

    margin: 29px 0;
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;

    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.question {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: start;
}


.question input {
    width: 341px;
    height: 46px;
    padding-left: 14px;

    color: #BABABA;
    font-family: inherit;
    font-style: italic;
    font-size: 19px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.invalid {
    background: #FFE9E9;
}

.question p {
    padding-bottom: 8px;
    font-size: 16px;
    color: #EC362D;
}
.btn-basic-info {
    width: 324px;
    height: 54px;

    color: #FFF5F4;
    font-size:18px;
    font-family: inherit;

    background-color: #EC362D;
    border-radius: 15px;
    border: none;
}

.btn-basic-info:hover {
    cursor: pointer;
    background-color: rgba(236, 54, 45, 75%);
}

.buttonquizz{
    width: 324px;
    height: 54px;
    font-size:18px;
    font-family: inherit;
    border-radius: 15px;
    border: none;
}
.buttonquizz:hover{
    cursor: pointer;
}
.final{
    display: flex;
    flex-direction: column;
    width: 759px;
    height: 430px;
}
.final img{
    width: 340px;
    height: 255px;
    
    
}
.final p {
    margin: 0 auto;
    width: 340px;
    overflow: hidden;
    text-align: justify;
    margin-left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    /* or 132% */


color: #484848;
}
.image-banner{
    margin-top: 80px ;
}
